option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "mozio.settings"
    PYTHONPATH: "/opt/python/current/app/src:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "src/mozio/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "src/static/"
